@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
html,
body {
  * {
    margin: 0;
    padding: 0;
  }  
  font-family:"Roboto";
    h1 {
    font-family:"Roboto Condensed";
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
  }
    h2 {
    font-family:"Roboto Condensed";
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
  }
    nav.nav-bar {
        span {
        color: #192129
        }
            a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 2em
        }
        background-color: #192129;
        text-align: center;
        word-spacing: 20em;
        line-height: 4em;
  }
    header.header1 {
        height: 650px;
        background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        h2 {
            color:#FFFFFF;
            text-shadow: #020819 8px -20px 9px;
            line-height: 4em;
        }
        aside.quote {
            font-size: 2.5em;
        }
  }
    section#general-information {
        background-color: #192129;
        color: #FFFFFF;
        font-size: 2em;
        font-weight: 100;
        text-align: center;
            th {
                font-size: 1.5em;
                letter-spacing: 0.4px;
                line-height: 1em;
            }
            button {
                background-color: #43A3E6;
                color: #FFFFFF;
                font-family:"Roboto Condensed";
                font-size: 0.5em;

            }
    }
    section#day-structure {
        text-align: center;
        h2 {
            font-size: 4.2em;
            font-family:"Roboto Condensed";
            text-transform: initial;
        }
        li {
            font-family:"Roboto Condensed";
            font-size: 1.5em;
            list-style-type: none;
        }
        font-size: 1.7em;
        img.service-box {
            width: 125px;
        }
    }
    section#team {
        background-color: #192129;
        color: #FFFFFF;
        h2 {
            text-transform: capitalize;
        }
        p {
            font-size: 1.9em;
            text-align: center;
        }
        figcaption {
            font-size: 1.5em;
            font-weight: 700;

        }
        hr {
            margin: 20px auto;
        }
        img.ihimg {
            width: 250px;
            height: 180px;
        }

    }